<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pangu.neusoft.healthe"
    android:versionCode="31115"
    android:versionName="1.00" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:name="com.baidu.frontia.FrontiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="b68b8716d0" />
        <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        push service client
        <receiver android:name="com.pangu.neusoft.baidu.MyPushMessageReceiver" >
            <intent-filter>
                接收push消息
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                接收bind、setTags等method的返回结果
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                可选。接受通知点击事件，和通知自定义内容
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        push service start
        用于接收系统消息以保证PushService正常运行
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        Push服务接收客户端发送的各种请求
        注意：RegistrationReceiver 在2.1.1及之前版本有拼写失误，为RegistratonReceiver ，用新版本SDK时请更改为如下代码
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        Push 服务
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" />

        <meta-data
            android:name="api_key"
            android:value="WUXMvjgF3megBkFlYiF9CVnq" />
        富媒体功能
        push service rich media display
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaViewActivity" >
        </activity>
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.WelcomeActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.FristActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabHostActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabActivity1"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabActivity2"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabActivity3"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabActivity5"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.BookingMainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_booking_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.AreaListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_area_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.HospitalListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_hospital_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.DepartmentListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_department_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.DoctorListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_doctor_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.FindDoctorListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_doctor_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.DoctorDetailActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_doctor_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.HospitalDetailActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_hospital_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.ScheduleListActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_schedule_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.ChangePassActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.ListCardActivity"
            android:label="@string/title_activity_list_people"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.CardInfoActivity"
            android:label="@string/title_activity_people_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.ShowHistoryActivity"
            android:label="@string/title_activity_show_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.CancelbookingActivity"
            android:label="@string/title_activity_cancelbooking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.HealthActivityGroup"
            android:label="@string/title_activity_health_activity_group"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.FatherActivity"
            android:label="@string/title_activity_super"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.VersionInfoActivity"
            android:label="@string/title_activity_version_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.HistoryViewActivity"
            android:label="@string/title_activity_history_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.ConnectListActivity"
            android:label="@string/title_activity_connect_list_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.MapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.SetTextSizeActivity"
            android:label="@string/title_activity_textsize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.CreateCardActivity"
            android:label="@string/title_activity_create_card"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabActivity4"
            android:label="@string/title_activity_tab_activity5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.SearchResActivity"
            android:label="@string/title_activity_search_res"
            android:parentActivityName="com.pangu.neusoft.healthe.FatherActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pangu.neusoft.healthe.FatherActivity" />
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.BookingConfirmActivity"
            android:label="@string/title_activity_booking_confirm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthcard.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>

        <service
            android:name="com.pangu.neusoft.service.ListenService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.pangu.neusoft.drugstore.Drugstore_main_activity"
            android:label="@string/title_activity_drugstore_main_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.drugstore.Drugstore_detail"
            android:label="@string/title_activity_drugstore_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.drugstore.StoreDetialActivity"
            android:label="@string/title_activity_store_detial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.drugstore.OtherStoreActivity"
            android:label="@string/title_activity_other_store"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.drugstore.StoreOfferActivity"
            android:label="@string/title_activity_store_offer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.drugstore.FaherDrugActivity"
            android:label="@string/title_activity_faher_drug" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.drugstore.FatherSonDrugActivity"
            android:label="@string/title_activity_father_son_drug" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.DisclaimerActivity"
            android:label="@string/title_activity_disclaimer" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.My"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthinfo.HealthInfoActivity"
            android:label="@string/title_activity_health_info" >
        </activity>
        <activity
            android:name="com.pangu.neusoft.healthe.TabActivity2_dep227"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>